html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.appbar {
    background-color: #1e1e1e; /* dark gray */
    color: #d3d3d3; /* light gray text */
    height: 56px;
}

/* Centered nav menu */
.nav-links {
    color: yellow;
    gap: 2rem; /* spacing between links */
}

/* Default link style */
.nav-link {
    color: #b0b0b0;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

    /* Hover effect */
    .nav-link:hover {
        color: #e0e0e0;
    }

    /* Active link (current page) */
    .nav-link.active {
        color: #ffffff;
        font-weight: 600;
        border-bottom: 2px solid #ffffff;
    }

.nav-link-small {
    color: yellow;
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
}

    /* Hover effect */
    .nav-link-small:hover {
        color: #e0e0e0;
    }

    /* Active link (current page) */
    .nav-link-small.active {
        color: #ffffff;
        font-weight: 200;
    }

.menu-icon-link-small {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    margin: 0 !important;
    min-width: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.e-pv-open-document-container,
.e-pv-download-document-container,
.e-pv-print-document-container,
.e-pv-formdesigner-container,
.e-pv-submit-form-container {
    display: none !important;
}

.e-pv-open-document-container,
.e-pv-mobile-toolbar .e-pv-open-document-container,
.e-pv-open-document-item,
.e-pv-open-document {
    display: none !important;
}

.e-pv-download-document-container,
.e-pv-mobile-toolbar .e-pv-download-document-container,
.e-pv-download-document-item,
.e-pv-download-document {
    display: none !important;
}

.e-pv-submit-form-document-container,
.e-pv-mobile-toolbar .e-pv-submit-form-document-container,
.e-pv-submit-form-document-item,
.e-pv-submit-form-document {
    display: none !important;
}

.e-pv-submitform-document-container,
.e-pv-mobile-toolbar .e-pv-submitform-document-container,
.e-pv-submitform-document-item,
.e-pv-submitform-document {
    display: none !important;
}

.e-pv-formdesigner-document-container,
.e-pv-mobile-toolbar .e-pv-formdesigner-document-container,
.e-pv-formdesigner-document-item,
.e-pv-formdesigner-document {
    display: none !important;
}

.e-pv-print-document-container,
.e-pv-mobile-toolbar .e-pv-print-document-container,
.e-pv-print-document-item,
.e-pv-print-document {
    display: none !important;
}

.e-image-editor-toolbar .e-save 
{
    display: none !important;
}

.e-image-editor .e-dropdown-popup .e-save {
    display: none !important;
}

.loader-container {
    position: relative;
    height: 100%; /* keeps control size normal */
    width: 100%;
}

.loader-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    color: blue;
    z-index: 0; /* behind */
    opacity: 1; /* optional: fade */
}

.loader-container > *:not(.loader-bg) {
    position: absolute;
    top: 0px;
    z-index: 1; /* front */
}

.switch-left {
    justify-content: flex-start !important;
}
