@page "/access-denied"


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <h3 class="text-danger">Access Denied</h3>
                </div>
                <div class="text-center mt-2">
                    <span class="text-bg-dark fw-bolder">You do'nt have permission to view this page</span>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
